* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    width: 100vh;
    height: 100vh;
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
}

.book {
    width: 16rem;
    height: 14rem;
    padding: 0.5rem;
    border-radius: 10px;
    border: double 2px #3f3d3d;
    margin: 1rem;
    background-color: #6969c6;
    color: #fff;
}
