* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100vw;
  height: auto;
}

.navbar {
  padding: 1rem;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  

.container-filter {
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
}

.container-cards {
  width: 100vw;
  height: 40%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

.book {
  width: 25rem;
  height: 20rem;
  border: double 5px gray;
  border-radius: 5px;  
  margin: 1rem;
  display: flex;  
  align-items: center;
}

.book-photo {
  width: 40%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-photo > img {
  width: 80%;
  height: 80%;
  object-fit: cover;  
  box-shadow: -3px -3px 0 #34577ebc, 0 0 50px #022c5cbc;
}

.book-description {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-left: double 2px #5555cb;
}

.book-description > h2 {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #5555cb;
  text-align: center;
}

.book-description > h3 {
  font-size: 1rem;
  margin-left: 1rem;
  text-align: center;
}

.book-description > p{
  font-size: 0.9rem;
  margin-left: 0.8rem;
  margin-bottom: 0.9rem;
}

.authorBook{
  padding: 10px 0px 10px 0px;
}

.book-description > h4 {
  margin-top: 3rem;
  color: #5555cb;
  font-weight: 900;
}

.book-description > button {
  margin-top: 1rem;
  margin-bottom: 2rem;
  width: 80%;
  font-size: 1.2rem;
  border-radius: 15px;
  font-weight: 600;
  background-color: #0739f0c8;
  color: #fff;
  cursor: pointer;  
  transition: background-color 0.3s ease;
}

.book-description > button:hover,
.book-description > button:focus {
  background-color: #366f36;
}

#btnSort {
  width: 10rem;
  border-radius: 15px;
  border: double 5px #047b93;
}

