* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif;
}

body {
  width: 100vw;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}

header {
  width: 100vw;
  height: 1rem
}

.navbar {
  padding: 1rem;
}

main {
  width: 100%;
  height: auto;
  display: flex;
  flex-direction: column;
  align-items: center;
}
  

.container-filter {
  
  width: 100%;
  display: flex;
  justify-content: space-around;
  
  margin-bottom: 50px;
}

.container-filter2{
  margin-top: 100px;
  display: flex;
  justify-content: space-between;
}

.buttons{
  width: 100%;
  display: flex;
  justify-content: space-between;
}

.six-btn{
  width: 100%;
  display: flex;
  justify-content: space-around;
  position: relative;
  bottom: 50px;

  
}
.six-btn2{
  width: 100%;
  display: flex;
  justify-content: space-around;
  margin-top: 0px;
  margin-bottom: 50px;
}

.container-cards {
  width: 100vw;
  height: 40%;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  background-color: aquamarine;
  background: rgb(255,255,255);
  background: linear-gradient(130deg, #ffffff 0%, #f5f5dc 120%);
  background-size: 100% 100%;
  padding-bottom: 40px;
}

.book {
  width: 28rem;
  height: 27rem;
  border: double 5px gray;
  border-radius: 5px;  
  margin: 1rem;
  display: flex;  
  align-items: center;
}

.input-edit{
  margin-bottom: 15px;
  background-color: #00ff8400;
  border-radius: 5px;
  
}

.btn-save{
  width: 17px;
  border-radius: 5px;
  background-color: #00ff8471;  
  cursor: pointer;
  margin-left: 10px;
}

.book-photo {
  width: 55%;
  height: 90%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.book-photo > img {
  width: 80%;
  height: 60%;
  object-fit: cover;  
  box-shadow: -3px -3px 0 #34577ebc, 0 0 50px #022c5cbc;
}

.book-description {
  width: 70%;
  height: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  border-left: double 2px #ff9999;
}

.book-description > h2 {
  margin-top: 10px;
  font-size: 1.5rem;
  color: #ff9999;
  text-align: center;
}

.normalPrice{
  margin-top: 10px;
  margin-bottom: 10px;
  
}

.authorBook{
  margin-bottom: 5px;
}

.book-description > h3 {
  font-size: 1rem;
  margin-left: 1rem;
  text-align: center;
}

.book-description > p{
  font-size: 0.9rem;
  margin-left: 0.8rem;
  margin-bottom: 0.9rem;
}

.authorBook{
  padding: 10px 0px 10px 0px;
}

.book-description > h4 {
  margin-top: 3rem;
  color: #5555cb;
  font-weight: 900;
}

.book-description > button {
  margin-top: 0;
  margin-bottom: 0.5rem;
  width: 80%;
  font-size: 1.2rem;
  border-radius: 15px;
  font-weight: 600;
  background-color: #ff9999;
  color: #fff;
  cursor: pointer;  
  transition: background-color 0.3s ease;
}

.book-description > button:hover,
.book-description > button:focus {
  background-color: #366f36;
}

#btnSort {
  width: 10rem;
  border-radius: 15px;
  border-color: #f5f5dc;
}


.informationFooter{
  display: flex;
  justify-content: space-around;
}

.member-names{
  font-size: 20px;
}

.emails{
  font-size: 20px;
}

.numbers{
  font-size: 20px;
}

.network-logos{
  width: auto
}

.imgFooter{
  width: 60px;
  height: 60px;
  position: relative;
  top: 140px;
  left: 105px;
}

