*{
    margin: 0;
    padding: 0;
    box-sizing: content-box;
}

header{
    height: 60vh;
    width: 100%;
    background-image: url(../images/header.jpg);
    background-position: center;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column; 
}

.libreria-sena{
    margin-top: 0px;
    width: 100%;
}

.breadcrumb-title{
    display: flex; 
    justify-content: center; 
    align-items: center;
    font-size: 25px;
    color: #ffffff;
    padding: 0px 120px;
}



#arriba {
    color: #ffffff;
}



#textocolor{
    color:lime;
    padding: 0px 10px;
    font-family: Arial, Helvetica, sans-serif;
}
.text-header{
    width: 100%;
    
}

.tituloEncavesado{
    display: flex;
    margin-top: 260px ;
    font-size: 50px;
    font-family: Arial, Helvetica, sans-serif;
    color: white;
    justify-content: center;
    align-items: center;
}

.subtituloEncavesado{
    font-size: 20px;
    display: flex;
    align-items: center;
    flex-direction: column;
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(255, 255, 255);
    padding: 40px 500px;
}

ul {
    list-style-type: none; 
    margin: 0; 
    padding: 0px 200px; 
    display: flex; 
    justify-content: center;
    align-items: center;
}

li {
    margin-right: 25px; 
}

.colorLetra{
    color: white;
}

nav {
    display: flex; 
    justify-content: space-between;
    background-color: #302929;
    border-bottom: solid 4px lime;
    height: 9vh;
   
}

.activo{
    color: rgb(253, 253, 253);
}

.sec1{
    height: 9vh;
    display: flex; 
    justify-content: space-between;
    background-color: #302929;
}

#Subscribete{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    color: white;
    padding: 30px 120px;
    font-size: 25px;
    font-family: Arial, Helvetica, sans-serif;
}

#input{
    display: flex; 
    justify-content: space-between; 
    align-items: center;
    padding: 30px 280px;
    border: none;
    border-radius: 25px;
    font-size: 28px;
    font-family: Arial, Helvetica, sans-serif;
}





.section2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    height: 100%;
}

.containerSec2{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 55%;
    height: 100%;
}

#medium {
    width: 270px;
    height: 250px;
}

#sec2Tex{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 400px;
    margin: 0px 10px 0px;
    padding: 10px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid transparent; 
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
}

#sec2Tex1{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
height: 400px;
width: 400px;
margin: 0px 0px 0px;
padding: 25px;
font-family: Arial, Helvetica, sans-serif;
}

label{
    display: flex;
    align-items: center;
    font-size: 15px;
    width: 350px;
}

.linea {
    display: flex;
    flex-direction: column;
    align-items:center;
}





.section4{
    display: flex;
    justify-content: space-around;
    flex-direction: column;
    align-items: center;
    width: 100%;
    height: 100%;
    padding: 100px 80px;
}

.containerSec1{
    display: flex;
    justify-content: center;
    flex-direction: row;
    align-items: center;
    width: 75%;
}

#medium1 {
    width:150px;
}

#cuadro1{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 270px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid transparent; 
    border-color: rgb(197, 169, 197);
    box-shadow: 5px 5px 5px  rgb(197, 169, 197); 
}

h2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
}

#cuadro2{
    display: flex;
    justify-content: space-around;
    align-items: center;
    flex-direction: column;
    height: 400px;
    width: 270px;
    padding: 20px;
    font-size: 20px;
    background-color: white;
    border: 2px solid transparent; 
    border-color: rgb(197, 169, 197);
    box-shadow: 5px 5px 5px  rgb(197, 169, 197);
}

#cuadro3{
display: flex;
justify-content: center;
flex-direction: column;
align-items: center;
height: 400px;
width: 270px;
padding: 20px;
font-family: Arial, Helvetica, sans-serif;
border: 2px solid transparent; 
border-color: rgb(197, 169, 197);
box-shadow: 5px 5px 5px  rgb(197, 169, 197);
}

#cuadro4{
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 400px;
    width: 270px;
    padding: 20px;
    font-family: Arial, Helvetica, sans-serif;
    border: 2px solid transparent; 
    border-color: rgb(197, 169, 197);
    box-shadow: 5px 5px 5px  rgb(197, 169, 197);
    }

.section4 label{
    display: flex;
    align-items: center;
    font-size: 15px;
    width: 300px;
}





#nombre {
    display: flex;
    justify-content:center;
    flex-direction: column;
}

#correo {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

#contacto {
    display: flex;
    align-items: center;
    flex-direction: column;
    padding: 50px;
}

#abajo{
    display: flex;
    align-items: center;
    height: 50px;
    width: 60px;
    padding: 0px 3px;
}
footer{
    height: 35vh;
    width: 100%;
    background-color: #1c2841;
    color: #ffffff;
    display: flex;
    justify-content: space-around;
    flex-direction: column;
}

#Acceso-redes{
    display: flex;
    justify-content: flex-end;
    align-items: center;
    padding: 0px 410px;
}
    
#Acceso-redes p {
    display: flex;
    margin-right: 710px;
    font-size: 18px;
    }
        
.section3{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    font-size: 18px;
    padding: 10px 100px;
}

.modal {
    width: 40rem;
    height: 40rem;
    border-radius: 10px;
    box-shadow: -4px -4px 10px #b9acac;
    background-color: #849fdab4;
    display: none;
    flex-direction: column;
    align-items: center;
    position: relative;
    left: 20rem;
    z-index: 1;    
}
